
.book{
    margin-left:50px;
    width: 400px;
    height: 150px;
    position: relative;
    top: -20px;
    background-image: url('../images/book-section-background');
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
    border-radius: 10px;
}

.image{
    background-color: red;
    width: 110px;
    height: 130px;

    border-radius: 15px;

    position: relative;
    left: 10px;
    top: -36px;
}

.title{
    position: relative;
    left: 150px;
    
    width: 160px;
    top: 10px;

    overflow: hidden;
}

.genre{
    position: relative;
    left: 150px;

    width: 70px;
    
    font-size: medium;
    overflow: hidden;
    
    top: -150px;

}

.author{
    position: relative;

    left: 150px;
    top: -140px;

    overflow: hidden;
    font-size: medium;

    width: 160px;
}

.delete{
    position: relative;
    border-radius: 5px;
    width: 60px;
    left: 200px;
    top: -150px;
    
    color: white;

    background-color: red;

    cursor: pointer;
}

.delete:hover {
    background-color: rgb(184, 0, 0);
}

.edit{
    position: relative;
    border-radius: 5px;
    width: 60px;
    top: -120px;
    left: 135px;
    cursor: pointer;
}

.edit:hover{
    background-color: lightgray;
}