.new-book-button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 25px;

    cursor: pointer;
}

.new-admin-button{
    float: right;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 25px;

    cursor: pointer;
}
