body {
    background-image: url('../images/site-background.jpg');
    background-position: center;
    background-size: cover;
}

.main {
    position: absolute;
    height: fit-content;
    width: 500px;
    top:120px;
    left: 30%;
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: center;
}